### Java ###
*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*

### Gradle ###
.gradle
**/build/
!gradle-wrapper.jar
.gradletasknamecache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Spring Boot ###
application-local.yml
application-local.properties

### Logs ###
logs/

### OS specific ###
.DS_Store
Thumbs.db

### Project specific ###
target/

### OpenAPI ###
#/docs-dist/
#/src/main/resources/static/docs/

### Docs ###
/docs