{
  "openapi": "3.0.1",
  "info": {
    "title": "IITP Open API Documentation",
    "description": "IITP Open API 문서입니다.",
    "version": "v0.0.1"
  },
  "servers": [
    {
      "url": "https://api.iitp.kr",
      "description": "Production Server"
    },
    {
      "url": "https://api-dev.iitp.kr",
      "description": "Development Server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "기초 데이터 API V1",
      "description": "기초 데이터 OpenAPI V1 "
    },
    {
      "name": "이동형 POI API V1",
      "description": "이동형 API "
    },
    {
      "name": "기초-건강 관리 현황 API V1",
      "description": "기초-건강 관리 현황 OpenApi V1"
    },
    {
      "name": "기초-주거 자립 현황 API V1",
      "description": "기초-주거 자립 현황 OpenApi V1"
    },
    {
      "name": "기초-보조기기 사용 현황 API V1",
      "description": "기초-보조기기 사용 현황 OpenApi V1"
    },
    {
      "name": "API V1 - Common",
      "description": "Common API Operations V1"
    },
    {
      "name": "기초-사회망 현황 API V1",
      "description": "기초-사회망 현황 OpenApi V1"
    },
    {
      "name": "기초-편의 시설 제공 현황 API V1",
      "description": "기초-편의 시설 제공 현황 OpenApi V1"
    },
    {
      "name": "POI V1",
      "description": "POI API V1"
    },
    {
      "name": "POI V2",
      "description": "POI API V2"
    },
    {
      "name": "POI",
      "description": "POI 관련 API"
    },
    {
      "name": "기초-진로 교육 현황 API V1",
      "description": "기초-진로 교육 현황 OpenApi V1"
    },
    {
      "name": "기초-고용 현황 API V1",
      "description": "기초-고용 현황 OpenApi V1"
    }
  ],
  "paths": {
    "/api/v1/sample/{id}": {
      "get": {
        "tags": [
          "sample-controller"
        ],
        "operationId": "getSample",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "sample-controller"
        ],
        "operationId": "updateSample",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "object"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "sample-controller"
        ],
        "operationId": "deleteSample",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/sample": {
      "post": {
        "tags": [
          "sample-controller"
        ],
        "operationId": "createSample",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "object"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/poi/search": {
      "get": {
        "tags": [
          "이동형 POI API V1"
        ],
        "summary": "이동형 POI 카테고리 검색 조회",
        "description": "이동형 POI 카테고리 검색 조회 (paging):",
        "operationId": "searchByCategory",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "페이지 번호, 0 이상.",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "string",
              "description": "페이지 번호, 0 이상."
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "페이지 사이즈 , 0 이상.",
            "required": true,
            "schema": {
              "minimum": 10,
              "type": "string",
              "description": "페이지 사이즈 , 0 이상."
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "카테고리 타입(옵션)",
            "required": false,
            "schema": {
              "type": "string",
              "description": "카테고리 타입(옵션)",
              "example": "restaurant",
              "enum": [
                "tourist_spot",
                "restaurant",
                "shopping",
                "accommodation"
              ]
            },
            "example": "restaurant"
          },
          {
            "name": "subCate",
            "in": "query",
            "description": "catType의 서브 카테고리 타입(옵션), 여러개 카테고리 설정 가능 (\u0027,\u0027로 구분) 최소 2글자 이상",
            "required": false,
            "schema": {
              "maxLength": 2147483647,
              "minLength": 2,
              "type": "string",
              "description": "catType의 서브 카테고리 타입(옵션), 여러개 카테고리 설정 가능 (\u0027,\u0027로 구분) 최소 2글자 이상",
              "example": "한식, 카페"
            },
            "example": "한식, 카페"
          },
          {
            "name": "name",
            "in": "query",
            "description": "검색어 (옵션) (단독 세팅도 가능), 최소 2글자 이상",
            "required": false,
            "schema": {
              "maxLength": 2147483647,
              "minLength": 2,
              "type": "string",
              "description": "검색어 (옵션) (단독 세팅도 가능), 최소 2글자 이상",
              "example": "서대문형무소역사관"
            },
            "example": "서대문형무소역사관"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoPageResMvPoi"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/poi/search/location": {
      "get": {
        "tags": [
          "이동형 POI API V1"
        ],
        "summary": "이동형 POI 위치기반 검색 조회",
        "description": "이동형 POI 위치기반 검색 조회 (paging):",
        "operationId": "searchByLocation",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "페이지 번호, 0 이상.",
            "required": true,
            "schema": {
              "minimum": 0,
              "type": "string",
              "description": "페이지 번호, 0 이상."
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "페이지 사이즈 , 0 이상.",
            "required": true,
            "schema": {
              "minimum": 10,
              "type": "string",
              "description": "페이지 사이즈 , 0 이상."
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "위도 (searchType이 location일 때만 사용)",
            "required": false,
            "schema": {
              "maximum": 90,
              "minimum": -90,
              "type": "string",
              "description": "위도 (searchType이 location일 때만 사용)",
              "example": 37.5665
            },
            "example": 37.5665
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "경도 (searchType이 location일 때만 사용)",
            "required": false,
            "schema": {
              "maximum": 180,
              "minimum": -180,
              "type": "string",
              "description": "경도 (searchType이 location일 때만 사용)",
              "example": 126.978
            },
            "example": 126.978
          },
          {
            "name": "radius",
            "in": "query",
            "description": "검색 반경(미터) (searchType이 location일 때만 사용)",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "string",
              "description": "검색 반경(미터) (searchType이 location일 때만 사용)",
              "example": 1000
            },
            "example": 1000
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoPageResMvPoi"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/comm/version": {
      "get": {
        "tags": [
          "API V1 - Common"
        ],
        "operationId": "getVersion",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/comm/health": {
      "get": {
        "tags": [
          "API V1 - Common"
        ],
        "summary": "Check API health status",
        "operationId": "healthCheck",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/social/social/particFreq/{statYear}": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-사회망 현황 API V1"
        ],
        "summary": "해당 연도의 장애인의 사회 참여 조회",
        "description": "해당 연도의 장애인의 사회 참여 조회",
        "operationId": "getSocialParticFreqYear",
        "parameters": [
          {
            "name": "statYear",
            "in": "path",
            "description": "통계 연도",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2024
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/social/social/particFreq/latest": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-사회망 현황 API V1"
        ],
        "summary": "장애인의 사회 참여 조회",
        "description": "장애인의 사회 참여 조회. (최대 10년) 예) from(옵션)~(최종 연도), default는 최종 3개년",
        "operationId": "getSocialParticFreqLatest",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "(옵션) 통계 조회 시작 연도  (최대: 10년 조회)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2019
          },
          {
            "name": "to",
            "in": "query",
            "description": "(옵션) 통계 조회 끝 연도  (최대: 10년 조회)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2022
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/social/social/particFreq/info": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-사회망 현황 API V1"
        ],
        "summary": "장애인의 사회 참여 통계 정보 조회",
        "description": "장애인의 사회 참여 통계 정보 조회",
        "operationId": "getSocialParticFreqInfo",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/social/social/contractFreq/{statYear}": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-사회망 현황 API V1"
        ],
        "summary": "해당 연도의 가까이 지내는 친구, 이웃, 지인 수 및 만남 빈도 조회",
        "description": "해당 연도의 가까이 지내는 친구, 이웃, 지인 수 및 만남 빈도 조회",
        "operationId": "getSocialContactCntfreqYear",
        "parameters": [
          {
            "name": "statYear",
            "in": "path",
            "description": "통계 연도",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2024
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/social/social/contractFreq/latest": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-사회망 현황 API V1"
        ],
        "summary": "가까이 지내는 친구, 이웃, 지인 수 및 만남 빈도 조회",
        "description": "가까이 지내는 친구, 이웃, 지인 수 및 만남 빈도. (최대 10년) 예) from(옵션)~(최종 연도), default는 최종 3개년",
        "operationId": "getSocialContactCntfreqLatest",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "(옵션) 통계 조회 시작 연도  (최대: 10년 조회)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2019
          },
          {
            "name": "to",
            "in": "query",
            "description": "(옵션) 통계 조회 끝 연도  (최대: 10년 조회)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2022
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/social/social/contractFreq/info": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-사회망 현황 API V1"
        ],
        "summary": "가까이 지내는 친구, 이웃, 지인 수 및 만남 빈도 통계 정보 조회",
        "description": "가까이 지내는 친구, 이웃, 지인 수 및 만남 빈도 통계 정보 조회",
        "operationId": "getSocialContactCntfreqInfo",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/housing/reg/sidoSevGen/{statYear}": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-주거 자립 현황 API V1"
        ],
        "summary": "해당 연도의  시도별,장애등급별,성별 등록장애인수 조회",
        "description": "해당 연도의 시도별,장애등급별,성별 등록장애인수 조회",
        "operationId": "getHousingRegSidoSevGenYear",
        "parameters": [
          {
            "name": "statYear",
            "in": "path",
            "description": "통계 연도",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2024
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/housing/reg/sidoSevGen/latest": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-주거 자립 현황 API V1"
        ],
        "summary": "시도별,장애등급별,성별 등록장애인수 조회",
        "description": "시도별,장애등급별,성별 등록장애인수 조회. (최대 10년) 예) from(옵션)~(최종 연도), default는 최종 3개년",
        "operationId": "getHousingRegSidoASevGenLatest",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "(옵션) 통계 시작 연도 (최대: 10년 조회)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2019
          },
          {
            "name": "to",
            "in": "query",
            "description": "(옵션) 통계 조회 끝 연도  (최대: 10년 조회)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2022
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/housing/reg/new/{statYear}": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-주거 자립 현황 API V1"
        ],
        "summary": "해당 연도의  신규등록 장애인현황 조회",
        "description": "해당 연도의 신규등록 장애인현황 조회",
        "operationId": "getHousingRegNewYear",
        "parameters": [
          {
            "name": "statYear",
            "in": "path",
            "description": "통계 연도",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2024
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/housing/reg/new/latest": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-주거 자립 현황 API V1"
        ],
        "summary": "신규등록 장애인현황 조회",
        "description": "신규등록 장애인현황 조회. (최대 10년) 예) from(옵션)~(최종 연도), default는 최종 3개년",
        "operationId": "getHousingRegNewLatest",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "(옵션) 통계 조회 시작 연도  (최대: 10년 조회)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2019
          },
          {
            "name": "to",
            "in": "query",
            "description": "(옵션) 통계 조회 끝 연도  (최대: 10년 조회)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2022
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/housing/reg/new/info": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-주거 자립 현황 API V1"
        ],
        "summary": "신규등록 장애인현황 통계 정보 조회",
        "description": "신규등록 장애인현황 통계 정보 조회",
        "operationId": "getHousingRegNewInfo",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/housing/reg/ageSevGen/{statYear}": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-주거 자립 현황 API V1"
        ],
        "summary": "해당 연도의  전국 연령별,장애등급별,성별 등록장애인수 조회",
        "description": "해당 연도의 전국 연령별,장애등급별,성별 등록장애인수 조회",
        "operationId": "getHousingRegAgeSevGenYear",
        "parameters": [
          {
            "name": "statYear",
            "in": "path",
            "description": "통계 연도",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2024
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/housing/reg/ageSevGen/latest": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-주거 자립 현황 API V1"
        ],
        "summary": "전국 연령별,장애등급별,성별 등록장애인수 조회",
        "description": "전국 연령별,장애등급별,성별 등록장애인수 조회. (최대 10년) 예) from(옵션)~(최종 연도), default는 최종 3개년",
        "operationId": "getHousingRegAgeSevGenLatest",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "(옵션) 통계 시작 연도 (최대: 10년 조회)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2019
          },
          {
            "name": "to",
            "in": "query",
            "description": "(옵션) 통계 조회 끝 연도  (최대: 10년 조회)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2022
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/housing/reg/ageSevGen/info": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-주거 자립 현황 API V1"
        ],
        "summary": "전국 연령별,장애등급별,성별 등록장애인수 통계 정보 조회",
        "description": "전국 연령별,장애등급별,성별 등록장애인수 통계 정보 조회",
        "operationId": "getHousingRegAgeSevGenInfo",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/housing/life/suppField/{statYear}": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-주거 자립 현황 API V1"
        ],
        "summary": "해당 연도의 도움받는 분야 조회",
        "description": "해당 연도의 도움받는 분야 조회",
        "operationId": "getHousingLifeSuppFieldYear",
        "parameters": [
          {
            "name": "statYear",
            "in": "path",
            "description": "통계 연도",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2024
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/housing/life/suppField/latest": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-주거 자립 현황 API V1"
        ],
        "summary": "도움받는 분야  조회",
        "description": "도움받는 분야 조회. (최대 10년) 예) from(옵션)~(최종 연도), default는 최종 3개년",
        "operationId": "getHousingLifeSuppFieldLatest",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "(옵션) 통계 시작 연도 (최대: 10년 조회)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2019
          },
          {
            "name": "to",
            "in": "query",
            "description": "(옵션) 통계 조회 끝 연도  (최대: 10년 조회)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2022
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/housing/life/suppField/info": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-주거 자립 현황 API V1"
        ],
        "summary": "도움받는 분야 통계 정보 조회",
        "description": "도움받는 분야 통계 정보 조회",
        "operationId": "getHousingLifeSuppFieldInfo",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/housing/life/primCarer/{statYear}": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-주거 자립 현황 API V1"
        ],
        "summary": "해당 연도의 일상생활 도와주는 사람(1순위) 조회",
        "description": "해당 연도의 일상생활 도와주는 사람(1순위) 조회",
        "operationId": "getHousingLifePrimCarerYear",
        "parameters": [
          {
            "name": "statYear",
            "in": "path",
            "description": "통계 연도",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2024
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/housing/life/primCarer/latest": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-주거 자립 현황 API V1"
        ],
        "summary": "일상생활 도와주는 사람(1순위)  조회",
        "description": "일상생활 도와주는 사람(1순위) 조회. (최대 10년) 예) from(옵션)~(최종 연도), default는 최종 3개년",
        "operationId": "getHousingLifePrimCarerLatest",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "(옵션) 통계 시작 연도 (최대: 10년 조회)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2019
          },
          {
            "name": "to",
            "in": "query",
            "description": "(옵션) 통계 조회 끝 연도  (최대: 10년 조회)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2022
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/housing/life/primCarer/info": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-주거 자립 현황 API V1"
        ],
        "summary": "일상생활 도와주는 사람(1순위) 통계 정보 조회",
        "description": "일상생활 도와주는 사람(1순위) 통계 정보 조회",
        "operationId": "getHousingLifePrimCarerInfo",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/housing/life/mainCarer/{statYear}": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-주거 자립 현황 API V1"
        ],
        "summary": "해당 연도의 주로 지원해주는 사람의 유형 조회",
        "description": "해당 연도의 주로 지원해주는 사람의 유형 조회",
        "operationId": "getHousingLifeMainCarerYear",
        "parameters": [
          {
            "name": "statYear",
            "in": "path",
            "description": "통계 연도",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2024
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/housing/life/mainCarer/latest": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-주거 자립 현황 API V1"
        ],
        "summary": "주로 지원해주는 사람의 유형  조회",
        "description": "주로 지원해주는 사람의 유형 조회. (최대 10년) 예) from(옵션)~(최종 연도), default는 최종 3개년",
        "operationId": "getHousingLifeMainCarerLatest",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "(옵션) 통계 시작 연도 (최대: 10년 조회)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2019
          },
          {
            "name": "to",
            "in": "query",
            "description": "(옵션) 통계 조회 끝 연도  (최대: 10년 조회)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2022
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/housing/life/mainCarer/info": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-주거 자립 현황 API V1"
        ],
        "summary": "주로 지원해주는 사람의 유형 통계 정보 조회",
        "description": "주로 지원해주는 사람의 유형 통계 정보 조회",
        "operationId": "getHousingLifeMainCarerInfo",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/housing/life/SuppNeedLvl/{statYear}": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-주거 자립 현황 API V1"
        ],
        "summary": "해당 연도의 일상생활 필요 지원 정도 조회",
        "description": "해당 연도의 일상생활 필요 지원 정도 조회",
        "operationId": "getHousingLifeSuppNeedLvlYear",
        "parameters": [
          {
            "name": "statYear",
            "in": "path",
            "description": "통계 연도",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2024
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/housing/life/SuppNeedLvl/latest": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-주거 자립 현황 API V1"
        ],
        "summary": "일상생활 필요 지원 정도 조회",
        "description": "일상생활 필요 지원 정도 조회. (최대 10년) 예) from(옵션)~(최종 연도), default는 최종 3개년",
        "operationId": "getHousingLifeSuppNeedLvlLatest",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "(옵션) 통계 시작 연도 (최대: 10년 조회)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2019
          },
          {
            "name": "to",
            "in": "query",
            "description": "(옵션) 통계 조회 끝 연도  (최대: 10년 조회)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2022
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/housing/life/SuppNeedLvl/info": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-주거 자립 현황 API V1"
        ],
        "summary": "일상생활 필요 지원 정도 통계 정보 조회",
        "description": "일상생활 필요 지원 정도 통계 정보 조회",
        "operationId": "getHousingLifeSuppNeedLvlInfo",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/health/sportExecType/{statYear}": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-건강 관리 현황 API V1"
        ],
        "summary": "해당 연도의 장애인 생활체육 실행 유형 조회",
        "description": "해당 연도의 장애인 생활체육 실행 유형 조회",
        "operationId": "getHealthSportExecTypeYear",
        "parameters": [
          {
            "name": "statYear",
            "in": "path",
            "description": "통계 연도",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2024
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/health/sportExecType/latest": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-건강 관리 현황 API V1"
        ],
        "summary": "장애인 생활체육 실행 유형 조회",
        "description": "장애인 생활체육 실행 유형 조회. (최대 10년) 예) from(옵션)~(최종 연도), default는 최종 3개년",
        "operationId": "getHealthSportExecTypeLatest",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "(옵션) 통계 조회 시작 연도  (최대: 10년 조회)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2019
          },
          {
            "name": "to",
            "in": "query",
            "description": "(옵션) 통계 조회 끝 연도  (최대: 10년 조회)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2022
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/health/sportExecType/info": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-건강 관리 현황 API V1"
        ],
        "summary": "장애인 생활체육 실행 유형 통계 정보 조회",
        "description": "장애인 생활체육 실행 유형 통계 정보 조회",
        "operationId": "getHealthSportExecTypeInfo",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/health/medicalUsg/{statYear}": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-건강 관리 현황 API V1"
        ],
        "summary": "해당 연도의 장애인 의료이용 현황 조회",
        "description": "해당 연도의 장애인 의료이용 현황 조회",
        "operationId": "getHealthMedicalUsageYear",
        "parameters": [
          {
            "name": "statYear",
            "in": "path",
            "description": "통계 연도",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2024
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/health/medicalUsg/latest": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-건강 관리 현황 API V1"
        ],
        "summary": "장애인 의료이용 현황 조회",
        "description": "장애인 의료이용 현황 조회. (최대 10년) 예) from(옵션)~(최종 연도), default는 최종 3개년",
        "operationId": "getHealthMedicalUsageLatest",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "(옵션) 통계 조회 시작 연도  (최대: 10년 조회)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2019
          },
          {
            "name": "to",
            "in": "query",
            "description": "(옵션) 통계 조회 끝 연도  (최대: 10년 조회)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2022
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/health/medicalUsg/info": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-건강 관리 현황 API V1"
        ],
        "summary": "장애인 의료이용 현황 통계 정보 조회",
        "description": "장애인 의료이용 현황 통계 정보 조회",
        "operationId": "getHealthMedicalUsageInfo",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/health/exrcBestAid/{statYear}": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-건강 관리 현황 API V1"
        ],
        "summary": "해당 연도의 운동 시 가장 도움이 되는 지원 사항 조회",
        "description": "해당 연도의 운동 시 가장 도움이 되는 지원 사항 조회",
        "operationId": "getHealthExrcBestAidYear",
        "parameters": [
          {
            "name": "statYear",
            "in": "path",
            "description": "통계 연도",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2024
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/health/exrcBestAid/latest": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-건강 관리 현황 API V1"
        ],
        "summary": "운동 시 가장 도움이 되는 지원 사항 조회",
        "description": "운동 시 가장 도움이 되는 지원 사항. (최대 10년) 예) from(옵션)~(최종 연도), default는 최종 3개년",
        "operationId": "getHealthExrcBestAidLatest",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "(옵션) 통계 조회 시작 연도  (최대: 10년 조회)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2019
          },
          {
            "name": "to",
            "in": "query",
            "description": "(옵션) 통계 조회 끝 연도  (최대: 10년 조회)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2022
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/health/exrcBestAid/info": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-건강 관리 현황 API V1"
        ],
        "summary": "운동 시 가장 도움이 되는 지원 사항 통계 정보 조회",
        "description": "운동 시 가장 도움이 되는 지원 사항 통계 정보 조회",
        "operationId": "getHealthExrcBestAidInfo",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/health/disCostSub/{statYear}": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-건강 관리 현황 API V1"
        ],
        "summary": "해당 연도의 장애인 장애유형별 다빈도질환별 진료비현황: 소분류 조회",
        "description": "해당 연도의 장애인 장애유형별 다빈도질환별 진료비현황: 소분류 조회",
        "operationId": "getHealthDiseaseCostSubYear",
        "parameters": [
          {
            "name": "statYear",
            "in": "path",
            "description": "통계 연도",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2024
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/health/disCostSub/latest": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-건강 관리 현황 API V1"
        ],
        "summary": "장애인 장애유형별 다빈도질환별 진료비현황: 소분류 조회",
        "description": "장애인 장애유형별 다빈도질환별 진료비현황: 소분류 조회. (최대 10년) 예) from(옵션)~(최종 연도), default는 최종 3개년",
        "operationId": "getHealthDiseaseCostSubLatest",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "(옵션) 통계 조회 시작 연도  (최대: 10년 조회)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2019
          },
          {
            "name": "to",
            "in": "query",
            "description": "(옵션) 통계 조회 끝 연도  (최대: 10년 조회)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2022
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/health/disCostSub/info": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-건강 관리 현황 API V1"
        ],
        "summary": "장애인 장애유형별 다빈도질환별 진료비현황: 소분류 통계 정보 조회",
        "description": "장애인 장애유형별 다빈도질환별 진료비현황: 소분류 통계 정보 조회",
        "operationId": "getHealthDiseaseCostSubInfo",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/facility/welfareUsg/{statYear}": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-편의 시설 제공 현황 API V1"
        ],
        "summary": "해당 연도의 사회복지시설 이용 현황  조회",
        "description": "해당 연도의 사회복지시설 이용 현황 조회",
        "operationId": "getFcltyWelfareUsageYear",
        "parameters": [
          {
            "name": "statYear",
            "in": "path",
            "description": "통계 연도",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2024
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/facility/welfareUsg/latest": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-편의 시설 제공 현황 API V1"
        ],
        "summary": "사회복지시설 이용 현황 조회",
        "description": "사회복지시설 이용 현황. (최대 10년) 예) from(옵션)~(최종 연도), default는 최종 3개년",
        "operationId": "getFcltyWelfareUsageLatest",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "(옵션) 통계 조회 시작 연도  (최대: 10년 조회)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2019
          },
          {
            "name": "to",
            "in": "query",
            "description": "(옵션) 통계 조회 끝 연도  (최대: 10년 조회)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2022
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/facility/welfareUsg/info": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-편의 시설 제공 현황 API V1"
        ],
        "summary": "사회복지시설 이용 현황 통계 정보 조회",
        "description": "사회복지시설 이용 현황 통계 정보 조회",
        "operationId": "getFcltyWelfareUsageInfo",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/emp/public/{statYear}": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-고용 현황 API V1"
        ],
        "summary": "공공기관 장애인고용 현황 조회",
        "description": "공공기관 장애인고용 현황 조회",
        "operationId": "getEmpNatlPublicYear",
        "parameters": [
          {
            "name": "statYear",
            "in": "path",
            "description": "통계 연도",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2024
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/emp/public/latest": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-고용 현황 API V1"
        ],
        "summary": "공공기관 장애인고용 현황 사항 조회",
        "description": "공공기관 장애인고용 현황. (최대 10년) 예) from(옵션)~(최종 연도), default는 최종 3개년",
        "operationId": "getEmpNatlPublicLatest",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "(옵션) 통계 조회 시작 연도  (최대: 10년 조회)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2019
          },
          {
            "name": "to",
            "in": "query",
            "description": "(옵션) 통계 조회 끝 연도  (최대: 10년 조회)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2022
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/emp/public/info": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-고용 현황 API V1"
        ],
        "summary": "공공기관 장애인고용 현황 통계 정보 조회",
        "description": "공공기관 장애인고용 현황 통계 정보 조회",
        "operationId": "getEmpNatlPublicInfo",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/emp/private/{statYear}": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-고용 현황 API V1"
        ],
        "summary": "민간기업 장애인고용 현황 조회",
        "description": "민간기업 장애인고용 현황 조회",
        "operationId": "getEmpNatlPrivateYear",
        "parameters": [
          {
            "name": "statYear",
            "in": "path",
            "description": "통계 연도",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2024
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/emp/private/latest": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-고용 현황 API V1"
        ],
        "summary": "민간기업 장애인고용 현황 조회",
        "description": "민간기업 장애인고용 현황. (최대 10년) 예) from(옵션)~(최종 연도), default는 최종 3개년",
        "operationId": "getEmpNatlPrivateLatest",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "(옵션) 통계 조회 시작 연도  (최대: 10년 조회)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2019
          },
          {
            "name": "to",
            "in": "query",
            "description": "(옵션) 통계 조회 끝 연도  (최대: 10년 조회)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2022
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/emp/private/info": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-고용 현황 API V1"
        ],
        "summary": "민간기업 장애인고용 현황 통계 정보 조회",
        "description": "민간기업 장애인고용 현황 통계 정보 조회",
        "operationId": "getEmpNatlPrivateInfo",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/emp/nation/{statYear}": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-고용 현황 API V1"
        ],
        "summary": "해당 연도의 장애인 근로자 고용현황 조회",
        "description": "해당 연도의 장애인 근로자 고용현황 조회",
        "operationId": "getEmpNatlYear",
        "parameters": [
          {
            "name": "statYear",
            "in": "path",
            "description": "통계 연도",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2024
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/emp/nation/latest": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-고용 현황 API V1"
        ],
        "summary": "장애인 근로자 고용현황 조회",
        "description": "장애인 근로자 고용현황. (최대 10년) 예) from(옵션)~(최종 연도), default는 최종 3개년",
        "operationId": "getEmpNatlLatest",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "(옵션) 통계 조회 시작 연도  (최대: 10년 조회)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2019
          },
          {
            "name": "to",
            "in": "query",
            "description": "(옵션) 통계 조회 끝 연도  (최대: 10년 조회)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2022
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/emp/nation/info": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-고용 현황 API V1"
        ],
        "summary": "장애인 근로자 고용현황 통계 정보 조회",
        "description": "장애인 근로자 고용현황 통계 정보 조회",
        "operationId": "getEmpNatlInfo",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/emp/govOrg/{statYear}": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-고용 현황 API V1"
        ],
        "summary": "정부부문 장애인고용 현황 조회",
        "description": "정부부문 장애인고용 현황 조회",
        "operationId": "getEmpNatlGovOrgYear",
        "parameters": [
          {
            "name": "statYear",
            "in": "path",
            "description": "통계 연도",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2024
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/emp/govOrg/latest": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-고용 현황 API V1"
        ],
        "summary": "정부부문 장애인고용 현황 조회",
        "description": "정부부문 장애인고용 현황. (최대 10년) 예) from(옵션)~(최종 연도), default는 최종 3개년",
        "operationId": "getEmpNatlGovOrgLatest",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "(옵션) 통계 조회 시작 연도  (최대: 10년 조회)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2019
          },
          {
            "name": "to",
            "in": "query",
            "description": "(옵션) 통계 조회 끝 연도  (최대: 10년 조회)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2022
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/emp/govOrg/info": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-고용 현황 API V1"
        ],
        "summary": "정부부문 장애인고용 현황 통계 정보 조회",
        "description": "정부부문 장애인고용 현황 통계 정보 조회",
        "operationId": "getEmpNatlGovOrgInfo",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/emp/disTypeSev/{statYear}": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-고용 현황 API V1"
        ],
        "summary": "장애유형 및 장애정도별 장애인 근로자 고용현황 조회",
        "description": "장애유형 및 장애정도별 장애인 근로자 고용현황 조회",
        "operationId": "getEmpNatlDisTypeSevYear",
        "parameters": [
          {
            "name": "statYear",
            "in": "path",
            "description": "통계 연도",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2024
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/emp/disTypeSev/latest": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-고용 현황 API V1"
        ],
        "summary": "장애유형 및 장애정도별 장애인 근로자 고용현황 조회",
        "description": "장애유형 및 장애정도별 장애인 근로자 고용현황. (최대 10년) 예) from(옵션)~(최종 연도), default는 최종 3개년",
        "operationId": "getEmpNatlDisTypeSevLatest",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "(옵션) 통계 조회 시작 연도  (최대: 10년 조회)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2019
          },
          {
            "name": "to",
            "in": "query",
            "description": "(옵션) 통계 조회 끝 연도  (최대: 10년 조회)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2022
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/emp/disTypeSev/info": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-고용 현황 API V1"
        ],
        "summary": "장애유형 및 장애정도별 장애인 근로자 고용현황 통계 정보 조회",
        "description": "장애유형 및 장애정도별 장애인 근로자 고용현황 통계 정보 조회",
        "operationId": "getEmpNatlDisTypeSevInfo",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/emp/disTypeIndust/{statYear}": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-고용 현황 API V1"
        ],
        "summary": "장애유형 및 산업별 장애인 근로자 고용현황 조회",
        "description": "장애유형 및 산업별 장애인 근로자 고용현황 조회",
        "operationId": "getEmpNatlDisTypeIndustYear",
        "parameters": [
          {
            "name": "statYear",
            "in": "path",
            "description": "통계 연도",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2024
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/emp/disTypeIndust/latest": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-고용 현황 API V1"
        ],
        "summary": "장애유형 및 산업별 장애인 근로자 고용현황 조회",
        "description": "장애유형 및 산업별 장애인 근로자 고용현황. (최대 10년) 예) from(옵션)~(최종 연도), default는 최종 3개년",
        "operationId": "getEmpNatlDisTypeIndustLatest",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "(옵션) 통계 조회 시작 연도  (최대: 10년 조회)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2019
          },
          {
            "name": "to",
            "in": "query",
            "description": "(옵션) 통계 조회 끝 연도  (최대: 10년 조회)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2022
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/emp/disTypeIndust/info": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-고용 현황 API V1"
        ],
        "summary": "장애유형 및 산업별 장애인 근로자 고용현황 통계 정보 조회",
        "description": "장애유형 및 산업별 장애인 근로자 고용현황 통계 정보 조회",
        "operationId": "getEmpNatlDisTypeIndustInfo",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/edu/vocaExecWay/{statYear}": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-진로 교육 현황 API V1"
        ],
        "summary": "해당 연도의 장애인 진로 및 직업교육 운영 방법 조회",
        "description": "해당 연도의 장애인 진로 및 직업교육 운영 방법 조회",
        "operationId": "getEduVocaExecWayYear",
        "parameters": [
          {
            "name": "statYear",
            "in": "path",
            "description": "통계 연도",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2024
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/edu/vocaExecWay/latest": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-진로 교육 현황 API V1"
        ],
        "summary": "장애인 진로 및 직업교육 운영 방법 조회",
        "description": "장애인 진로 및 직업교육 운영 방법. (최대 10년) 예) from(옵션)~(최종 연도), default는 최종 3개년",
        "operationId": "getEduVocaExecWayLatest",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "(옵션) 통계 조회 시작 연도  (최대: 10년 조회)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2019
          },
          {
            "name": "to",
            "in": "query",
            "description": "(옵션) 통계 조회 끝 연도  (최대: 10년 조회)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2022
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/edu/vocaExecWay/info": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-진로 교육 현황 API V1"
        ],
        "summary": "장애인 진로 및 직업교육 운영 방법 통계 정보 조회",
        "description": "장애인 진로 및 직업교육 운영 방법 통계 정보 조회",
        "operationId": "getEduVocaExecWayInfo",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/edu/vocaExec/{statYear}": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-진로 교육 현황 API V1"
        ],
        "summary": "해당 연도의 장애인 진로 및 직업교육 실시 여부 조회",
        "description": "해당 연도의 장애인 진로 및 직업교육 실시 여부 조회",
        "operationId": "getEduVocaExecYear",
        "parameters": [
          {
            "name": "statYear",
            "in": "path",
            "description": "통계 연도",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2024
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/edu/vocaExec/latest": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-진로 교육 현황 API V1"
        ],
        "summary": "장애인 진로 및 직업교육 실시 여부 조회",
        "description": "장애인 진로 및 직업교육 실시 여부. (최대 10년) 예) from(옵션)~(최종 연도), default는 최종 3개년",
        "operationId": "getEduVocaExecLatest",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "(옵션) 통계 조회 시작 연도  (최대: 10년 조회)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2019
          },
          {
            "name": "to",
            "in": "query",
            "description": "(옵션) 통계 조회 끝 연도  (최대: 10년 조회)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2022
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/edu/vocaExec/info": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-진로 교육 현황 API V1"
        ],
        "summary": "장애인 진로 및 직업교육 실시 여부 통계 정보 조회",
        "description": "장애인 진로 및 직업교육 실시 여부 통계 정보 조회",
        "operationId": "getEduVocaExecInfo",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/aid/deviceUsg/{statYear}": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-보조기기 사용 현황 API V1"
        ],
        "summary": "해당 연도의 장애인보조기기 사용여부 조회",
        "description": "해당 연도의 장애인보조기기 사용여부 조회",
        "operationId": "getAidDeviceUsageYear",
        "parameters": [
          {
            "name": "statYear",
            "in": "path",
            "description": "통계 연도",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2024
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/aid/deviceUsg/latest": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-보조기기 사용 현황 API V1"
        ],
        "summary": "장애인보조기기 사용여부 조회",
        "description": "장애인보조기기 사용여부. (최대 10년) 예) from(옵션)~(최종 연도), default는 최종 3개년",
        "operationId": "getAidDeviceUsageLatest",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "(옵션) 통계 조회 시작 연도  (최대: 10년 조회)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2019
          },
          {
            "name": "to",
            "in": "query",
            "description": "(옵션) 통계 조회 끝 연도  (최대: 10년 조회)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2022
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/aid/deviceUsg/info": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-보조기기 사용 현황 API V1"
        ],
        "summary": "장애인보조기기 사용여부 통계 정보 조회",
        "description": "장애인보조기기 사용여부 통계 정보 조회",
        "operationId": "getAidDeviceUsageInfo",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/aid/deviceNeed/{statYear}": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-보조기기 사용 현황 API V1"
        ],
        "summary": "해당 연도의 장애인보조기기 필요여부 조회",
        "description": "해당 연도의 장애인보조기기 필요여부 조회",
        "operationId": "getAidDeviceNeedYear",
        "parameters": [
          {
            "name": "statYear",
            "in": "path",
            "description": "통계 연도",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2024
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/aid/deviceNeed/latest": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-보조기기 사용 현황 API V1"
        ],
        "summary": "장애인보조기기 필요여부 조회",
        "description": "장애인보조기기 필요여부. (최대 10년) 예) from(옵션)~(최종 연도), default는 최종 3개년",
        "operationId": "getAidDeviceNeedLatest",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "(옵션) 통계 조회 시작 연도  (최대: 10년 조회)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2019
          },
          {
            "name": "to",
            "in": "query",
            "description": "(옵션) 통계 조회 끝 연도  (최대: 10년 조회)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 2022
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/basic/aid/deviceNeed/info": {
      "get": {
        "tags": [
          "기초 데이터 API V1",
          "기초-보조기기 사용 현황 API V1"
        ],
        "summary": "장애인보조기기 필요여부 통계 정보 조회",
        "description": "장애인보조기기 필요여부 통계 정보 조회",
        "operationId": "getAidDeviceNeedInfo",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResDtoObject"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApiResDtoPageResMvPoi": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "성공 여부",
            "example": true
          },
          "data": {
            "$ref": "#/components/schemas/PageResMvPoi"
          },
          "status": {
            "type": "string",
            "description": "응답 코드",
            "example": "200",
            "enum": [
              "100 CONTINUE",
              "101 SWITCHING_PROTOCOLS",
              "102 PROCESSING",
              "103 EARLY_HINTS",
              "103 CHECKPOINT",
              "200 OK",
              "201 CREATED",
              "202 ACCEPTED",
              "203 NON_AUTHORITATIVE_INFORMATION",
              "204 NO_CONTENT",
              "205 RESET_CONTENT",
              "206 PARTIAL_CONTENT",
              "207 MULTI_STATUS",
              "208 ALREADY_REPORTED",
              "226 IM_USED",
              "300 MULTIPLE_CHOICES",
              "301 MOVED_PERMANENTLY",
              "302 FOUND",
              "302 MOVED_TEMPORARILY",
              "303 SEE_OTHER",
              "304 NOT_MODIFIED",
              "305 USE_PROXY",
              "307 TEMPORARY_REDIRECT",
              "308 PERMANENT_REDIRECT",
              "400 BAD_REQUEST",
              "401 UNAUTHORIZED",
              "402 PAYMENT_REQUIRED",
              "403 FORBIDDEN",
              "404 NOT_FOUND",
              "405 METHOD_NOT_ALLOWED",
              "406 NOT_ACCEPTABLE",
              "407 PROXY_AUTHENTICATION_REQUIRED",
              "408 REQUEST_TIMEOUT",
              "409 CONFLICT",
              "410 GONE",
              "411 LENGTH_REQUIRED",
              "412 PRECONDITION_FAILED",
              "413 PAYLOAD_TOO_LARGE",
              "413 REQUEST_ENTITY_TOO_LARGE",
              "414 URI_TOO_LONG",
              "414 REQUEST_URI_TOO_LONG",
              "415 UNSUPPORTED_MEDIA_TYPE",
              "416 REQUESTED_RANGE_NOT_SATISFIABLE",
              "417 EXPECTATION_FAILED",
              "418 I_AM_A_TEAPOT",
              "419 INSUFFICIENT_SPACE_ON_RESOURCE",
              "420 METHOD_FAILURE",
              "421 DESTINATION_LOCKED",
              "422 UNPROCESSABLE_ENTITY",
              "423 LOCKED",
              "424 FAILED_DEPENDENCY",
              "425 TOO_EARLY",
              "426 UPGRADE_REQUIRED",
              "428 PRECONDITION_REQUIRED",
              "429 TOO_MANY_REQUESTS",
              "431 REQUEST_HEADER_FIELDS_TOO_LARGE",
              "451 UNAVAILABLE_FOR_LEGAL_REASONS",
              "500 INTERNAL_SERVER_ERROR",
              "501 NOT_IMPLEMENTED",
              "502 BAD_GATEWAY",
              "503 SERVICE_UNAVAILABLE",
              "504 GATEWAY_TIMEOUT",
              "505 HTTP_VERSION_NOT_SUPPORTED",
              "506 VARIANT_ALSO_NEGOTIATES",
              "507 INSUFFICIENT_STORAGE",
              "508 LOOP_DETECTED",
              "509 BANDWIDTH_LIMIT_EXCEEDED",
              "510 NOT_EXTENDED",
              "511 NETWORK_AUTHENTICATION_REQUIRED"
            ]
          },
          "error": {
            "$ref": "#/components/schemas/ErrInfoDto"
          }
        },
        "description": "공통 응답 포맷"
      },
      "ErrInfoDto": {
        "type": "object",
        "properties": {
          "code": {
            "$ref": "#/components/schemas/ErrorCode"
          },
          "message": {
            "type": "string",
            "description": "에러 메시지",
            "example": "요청한 parameter이 올바르지 않습니다."
          },
          "details": {
            "type": "string",
            "description": "에러 상세 설명",
            "example": "파라미터 \u0027id\u0027는 필수입니다."
          }
        },
        "description": "Response 에러 상세 정보"
      },
      "ErrorCode": {
        "type": "string",
        "description": "에러 코드",
        "example": "C000",
        "enum": [
          "S000",
          "C000",
          "C001",
          "C002",
          "C003",
          "C004",
          "C005",
          "C006",
          "C007",
          "C008",
          "C009",
          "C010",
          "C011",
          "B001",
          "B002",
          "B003",
          "B004",
          "S001",
          "P001",
          "P002",
          "P003",
          "P004"
        ]
      },
      "MvPoi": {
        "type": "object",
        "properties": {
          "poi_id": {
            "type": "integer",
            "description": "POI 고유 식별자",
            "format": "int64",
            "example": 1
          },
          "language_code": {
            "type": "string",
            "description": "언어 코드",
            "example": "ko"
          },
          "category": {
            "type": "string",
            "description": "카테고리",
            "example": "tourist_spot",
            "enum": [
              "tourist_spot",
              "restaurant",
              "shopping",
              "accommodation"
            ]
          },
          "sub_category": {
            "type": "string",
            "description": "서브 카테고리",
            "example": "역사 · 고궁 · 문화재"
          },
          "title": {
            "type": "string",
            "description": "POI 제목",
            "example": "서대문형무소역사관"
          },
          "summary": {
            "type": "string",
            "description": "POI 요약 정보",
            "example": "[2021 유니버설 관광시설 인증] \u003cbr\u003e\n잔혹한 근대사가 역사가 고스란히 남아 있는 역사관"
          },
          "basic_info": {
            "type": "string",
            "description": "POI 기본 정보",
            "example": "[2021 유니버설 관광시설 인증][개 요]서대문형무소역사관은 구 서울구치소 시설을 개조하여 과거 경성감옥과서대문감옥을 복원한 독립운동 및 민주화운동 관련 역사관이다...."
          },
          "address_code": {
            "type": "string",
            "description": "주소 코드",
            "example": "03732"
          },
          "address_road": {
            "type": "string",
            "description": "도로명 주소",
            "example": "서울 서대문구 통일로 251 (현저동, 독립공원)"
          },
          "address_detail": {
            "type": "string",
            "description": "상세 주소"
          },
          "latitude": {
            "type": "number",
            "description": "위도",
            "example": 37.57460779
          },
          "longitude": {
            "type": "number",
            "description": "경도",
            "example": 126.9572029
          },
          "detail_json": {
            "type": "string",
            "description": "상세 정보 JSON",
            "example": "{}"
          },
          "search_filter_json": {
            "type": "string",
            "description": "검색 필터 JSON",
            "example": "{}"
          }
        },
        "description": "현재 페이지의 데이터 목록"
      },
      "PageResMvPoi": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "description": "현재 페이지의 데이터 목록",
            "items": {
              "$ref": "#/components/schemas/MvPoi"
            }
          },
          "page": {
            "type": "integer",
            "description": "현재 페이지 번호",
            "format": "int32",
            "example": 1
          },
          "size": {
            "type": "integer",
            "description": "페이지당 항목 수",
            "format": "int32",
            "example": 10
          },
          "total": {
            "type": "integer",
            "description": "전체 항목 수",
            "format": "int64",
            "example": 100
          }
        },
        "description": "페이징 처리된 응답 데이터"
      },
      "ApiResDtoObject": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "성공 여부",
            "example": true
          },
          "data": {
            "type": "object",
            "description": "응답 데이터"
          },
          "status": {
            "type": "string",
            "description": "응답 코드",
            "example": "200",
            "enum": [
              "100 CONTINUE",
              "101 SWITCHING_PROTOCOLS",
              "102 PROCESSING",
              "103 EARLY_HINTS",
              "103 CHECKPOINT",
              "200 OK",
              "201 CREATED",
              "202 ACCEPTED",
              "203 NON_AUTHORITATIVE_INFORMATION",
              "204 NO_CONTENT",
              "205 RESET_CONTENT",
              "206 PARTIAL_CONTENT",
              "207 MULTI_STATUS",
              "208 ALREADY_REPORTED",
              "226 IM_USED",
              "300 MULTIPLE_CHOICES",
              "301 MOVED_PERMANENTLY",
              "302 FOUND",
              "302 MOVED_TEMPORARILY",
              "303 SEE_OTHER",
              "304 NOT_MODIFIED",
              "305 USE_PROXY",
              "307 TEMPORARY_REDIRECT",
              "308 PERMANENT_REDIRECT",
              "400 BAD_REQUEST",
              "401 UNAUTHORIZED",
              "402 PAYMENT_REQUIRED",
              "403 FORBIDDEN",
              "404 NOT_FOUND",
              "405 METHOD_NOT_ALLOWED",
              "406 NOT_ACCEPTABLE",
              "407 PROXY_AUTHENTICATION_REQUIRED",
              "408 REQUEST_TIMEOUT",
              "409 CONFLICT",
              "410 GONE",
              "411 LENGTH_REQUIRED",
              "412 PRECONDITION_FAILED",
              "413 PAYLOAD_TOO_LARGE",
              "413 REQUEST_ENTITY_TOO_LARGE",
              "414 URI_TOO_LONG",
              "414 REQUEST_URI_TOO_LONG",
              "415 UNSUPPORTED_MEDIA_TYPE",
              "416 REQUESTED_RANGE_NOT_SATISFIABLE",
              "417 EXPECTATION_FAILED",
              "418 I_AM_A_TEAPOT",
              "419 INSUFFICIENT_SPACE_ON_RESOURCE",
              "420 METHOD_FAILURE",
              "421 DESTINATION_LOCKED",
              "422 UNPROCESSABLE_ENTITY",
              "423 LOCKED",
              "424 FAILED_DEPENDENCY",
              "425 TOO_EARLY",
              "426 UPGRADE_REQUIRED",
              "428 PRECONDITION_REQUIRED",
              "429 TOO_MANY_REQUESTS",
              "431 REQUEST_HEADER_FIELDS_TOO_LARGE",
              "451 UNAVAILABLE_FOR_LEGAL_REASONS",
              "500 INTERNAL_SERVER_ERROR",
              "501 NOT_IMPLEMENTED",
              "502 BAD_GATEWAY",
              "503 SERVICE_UNAVAILABLE",
              "504 GATEWAY_TIMEOUT",
              "505 HTTP_VERSION_NOT_SUPPORTED",
              "506 VARIANT_ALSO_NEGOTIATES",
              "507 INSUFFICIENT_STORAGE",
              "508 LOOP_DETECTED",
              "509 BANDWIDTH_LIMIT_EXCEEDED",
              "510 NOT_EXTENDED",
              "511 NETWORK_AUTHENTICATION_REQUIRED"
            ]
          },
          "error": {
            "$ref": "#/components/schemas/ErrInfoDto"
          }
        },
        "description": "공통 응답 포맷"
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "description": "API Key for authentication",
        "name": "X-API-Key",
        "in": "header"
      }
    }
  }
}